* {
  background-color: #2f1893;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* max-height: 100vh; */
  /* overflow: hidden; */
}
nav {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  float: right;
  padding-right: 100px;
  color: white;
  font-size: 25px !important;
  cursor: pointer;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 50px 20px 200px;
  align-items: center;
  /* height: 100vh; */
  background-color: #2f1893;
}
.leftContainer {
  flex: 5;
  justify-content: flex-start;
}

.rightContainer {
  flex: 7;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}
.rightContainer img {
  width: 100%;
  object-fit: cover;
  margin-left: 50px;
}
.leftContainer h6 {
  font-weight: 300;
  font-size: 20px;
  text-transform: capitalize;
  color: white;
}
.leftContainer h1 {
  font-weight: 600;
  font-size: 45px;
  text-transform: capitalize;
  color: white;
  line-height: 1.2em;
  padding-top: 10px;
}
.leftContainer p {
  color: white;
  font-size: 14px;
  padding-top: 15px;
  line-height: 1.2em;
  font-size: 16px;
  padding-bottom: 20px;
}
.downnloadbutton {
  background-color: #25dac5;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 25px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

/* mobile responsiveness styling  */
@media screen and (max-width: 960px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    float: right;
    padding-right: 20px;
    color: white;
    font-size: 25px !important;
    cursor: pointer;
  }

  .mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 0px 0px 0px;
    align-items: center;
    /* height: 100vh; */
    /* background-color: #2f1893; */
  }
  .leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rightContainer img {
    width: 150%;
    object-fit: cover;
  }
  .leftContainer h6 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
  }
  .leftContainer h1 br {
    display: none;
  }
  .leftContainer h1 {
    font-weight: 600;
    font-size: 35px;
    text-transform: capitalize;
    color: white;
    line-height: 1.2em;
    padding-top: 10px;
    text-align: center;
  }
  .leftContainer p {
    color: white;
    font-size: 22px;
    padding-top: 15px;
    line-height: 1.2em;
    padding-bottom: 20px;
    text-align: center;
  }
}
